extends ../../../master-templates/template__width__full.pug

block styles
    style.
        main{padding-top: 0!important; }


block meta-title
    title Shopping Cart


block header
    include ../../../master-templates/headers/header--1/header__1__private.pug

block content
    include ../../../master-templates/components/shopping/shopping-header.pug

    .row.section.section__reward-yourself.bg-light.py-2
        .col-12.col-xl-10.text-left.mx-auto
            h2 Cart

            
    

    .row.section.section__featured-categories.pt-5.pb-3     
        .col-12.col-xl-10.mx-auto#shopping-cart__content__wrapper
            .row
                .col-12.col-md-7#shopping-cart__item__wrapper.order-2.order-md-1
                    -for(i=0; i<4; i++)
                        .row.border-bottom.mb-3.small
                            
                            .col-4.mb-4
                                .card.h-100.shopping__card.mb-2 
                                    .card-body.d-flex.flex-column.justify-content-center.align-items-center
                                        .shopping__img-wrapper.d-block.mx-auto.text-center
                                            img.img-fluid(src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6287/6287730_sb.jpg", alt="")
                            .col-8.text-left
                                .row#item__title 
                                    .col-12
                                        .shopping__item-title.line-clamp Apple - MacBook Pro - 13" Display with Touch Bar - Intel Core i5 - 16GB Memory - 1TB SSD (Latest Model) - Space Gray
                                .row.text-left#itemPriceRow.mb-2 
                                    .col-12.col-lg-4
                                        small.text-success On Sale Now!
                                        p.font-weight-bold.mb-0 Price:
                                            span.font-weight-normal.item__price.mx-1.text-success 90,650
                                            span.small
                                                small Points
                                    .col-12.col-lg-8.text-md-left.text-lg-right
                                        small
                                            span.fas.fa-running.mr-1
                                            span In-Store Pickup Available
                                .row.align-items-center.mb-4 
                                    .col-12.col-sm-6.mb-3
                                        label.form-check-label.font-weight-bold(for='Qty') Quantity
                                        select.custom-select(name="Qty")
                                            option(value="1" selected) 1
                                            option(value="2") 2
                                            option(value="3") 3
                                    .col-12.col-sm-6.small
                                        .row.align-items-center
                                            .col-4.col-md-12.col-lg-4.border-right
                                                a(href="#") Delete
                                            .col-8.col-md-12.col-lg-8
                                                a(href="#") Save to Wish List
                            


                            
            
                .col-12.col-md-5.col-lg-4.offset-lg-1#item__detail__content__price.bg-light.pt-3.text-left.order-1.order-md-2.mb-4.mb-md-0
                    .row
                        .col-12.mb-2
                            .row.text-left#itemPriceRow.mb-2
                                    .col-6.mb-2
                                        small.font-weight-bold Shipping & Sales Tax 
                                    .col-6.text-right
                                        p.mb-0 Included
                                    .col-6.mb-2
                                        p.font-weight-bold.mb-0 Order Total 
                                            span.small
                                                small.ml-1.d-md-block.d-xl-inline (In Points)
                                    .col-6.text-right
                                            span.font-weight-normal.item__price.mx-1.text-success 90,650
                                    .col-6
                                        small.d-block.mb-0.font-weight-bold Points Remaining
                                    .col-6.text-right.mb-2
                                        small.mb-0 123,483,000
                                    .col-6.col-md-8.mb-2
                                        small.d-block.mb-0.font-weight-bold Buy-In Point Purchase via Credit Card (
                                            span.mx-1#buy-in__amt.font-weight-normal [buy-in-amt]
                                            span.font-weight-bold )
                                    .col-6.col-md-4.text-right
                                        small 2,202
                                    .col-12
                                        a.btn.btn-primary.btn-block(type="button" href='../shopping/checkout.html') Proceed To Checkout
                                            
                        .col-12.mb-4
                            small.d-block.mb-2 Items in your shopping cart expire and will be removed after 30 days. Points and availability subject to change. 
                            small.d-block Some content is provided by a third party on an as-is basis. This content is subject to change and/or removal at any time. Points and availability of items are subject to change.
                    
                    