extends ../../../master-templates/template__width__normal.pug

block styles

block meta-title
    title Shopping Wishlist


block header
    include ../../../master-templates/headers/header--1/header__1__private.pug

block content
    include ../../../master-templates/components/shopping/shopping-navigation/shopping-navigation.pug
                  
            


              
               
        


           
            
        
block footer
    include ../../../master-templates/footers/footer--1/footer__1__private.pug




block scripts