footer#footer__1__public.bg-dark
    .row.mx-auto
        .col-12.py-2
            ul.nav.justify-content-center#footer__nav__public       
        .col-12.text-center.py-2
            small.text-light.d-block.mx-auto Copyright &copy; 2020 | RewardTrax.com