extends ../master-templates/template__vertical__center__slim.pug

block styles
    style. 
        main{background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png');background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed; }
   
block meta-title
    title Forgot Password


block header
    include ../master-templates/headers/header--1/header__1__public.pug

block content
    .row.bg-white.p-4.shadow 
        .col-12.mb-2
            h1 Reset Your Password
           
            p Please input your email address and create a 4 digit passcode. Password reset instructions will be sent to your email address. Remember the passcode you created. You will need it to complete your password reset. 
        .col-12
            .alert.alert-info
                small.mb-0 The instructions in the email are only valid for the next two hours. Please reset your password as soon as you receive the email.
               
        .col-12.text-left
            form(action="")
                .form-group
                    label(for="forgot__password__email") Email Address
                    input.form-control#forgot__password__email(type="email")
                .form-group
                    label(for="forgot__password__passcode") Create 4 Digit Passcode
                    input.form-control#forgot__password__passcode(type="password")
                .form-group    
                    button.btn.btn-primary.btn-block#password__reset_btn(type='submit') Reset Password
                
            
        
block footer
    include ../master-templates/footers/footer--1/footer__1__public.pug




block scripts