extends ../master-templates/template__width__normal.pug

block styles

block meta-title
    title Privacy Policy


block header
    include ../master-templates/headers/header--1/header__1__public.pug

block content
    .row 
        .col-12
            h1 Privacy Policy
            p.text-left Incentive Solutions, Inc. (d.b.a. Reward Headquarters) ("ISI") has created this Privacy Policy to explain what information we may collect about users of this website and how we will use that information in our business. The following describes our information gathering and dissemination practices for this website. By accepting this Privacy Policy, you expressly consent to ISI and your company sponsor ("Sponsor") (collectively, "we" "our" or "us") using any information gathered about you as contemplated herein. While this Privacy Policy will be available on our website, we recommend that you print and retain a copy of this Privacy Policy for your records. 
            p.mb-0.text-left.font-weight-bold The information we collect and how we use that information:

        .col-12.text-left
            ol.list-group.list-group-flush#privacy-container
               
        


           
            
        
block footer
    include ../master-templates/footers/footer--1/footer__1__public.pug




block scripts