extends ../master-templates/template__width__normal.pug

block styles

block meta-title
    title Program Terms


block header
    include ../master-templates/headers/header--1/header__1__private.pug

block content
    .row 
        .col-12
            h1 Program Terms - Conditions Of Use
            p.text-uppercase.font-weight-bold.text-left IMPORTANT - PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE SIGNING UP FOR YOUR REWARDS PROGRAM. THEY WILL COVER ALL OF YOUR USES OF AND PARTICIPATION IN THE SERVICES DEFINED BELOW. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR OTHERWISE USE THESE SERVICES. YOUR CLICKING ON THE BUTTON MARKED "I AGREE" AND YOUR CONTINUED USE OF AND PARTICIPATION IN THE SERVICES INDICATES YOUR ACKNOWLEDGEMENT THAT YOU HAVE READ AND ACCEPTED THESE TERMS AND CONDITIONS. 
            p.text-left Welcome to RewardTrax.com. These terms and conditions govern your use of a web-enabled incentive and loyalty program called RewardTrax ("Services") provided by Incentive Solutions, Inc. and its affiliates ("ISI") and your company sponsor ("Sponsor") (collectively, "we" "our" or "us"). You acknowledge that you have read and unconditionally agree to these terms and conditions, as may be amended by us from time to time upon notice (via email, web site posting or otherwise) to you. You warrant and represent that you are authorized to participate in and use our Services and that you are at least 18 years of age. You also warrant that all information you provide under this Agreement is true and complete and that you will promptly update such information to maintain its accuracy.

        .col-12.text-left
            ol.list-group.list-group-flush#terms-container
               
        


           
            
        
block footer
    include ../master-templates/footers/footer--1/footer__1__private.pug




block scripts