.row.px-0 
    .col-12.px-0
        block jumbotron-content
            .jumbotron.mt-n3.mt-lg-n5.mb-0.text-white.jumbotron-img-bg(style="background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png');")
                .container
                    .row.py-5 
                        .col-12.px-0
                            .display-4 Demo, Say YES to Adventure!
                            p.lead Earn. Redeem. Relax
                    .row.justify-content-center
                        .col-md-6.col-lg-2
                            a.btn.btn-outline-light.btn-block(href="#") Start Earning
                        .col-md-6.col-lg-2
                            a.btn.btn-primary.btn-block(href="#") Start Shopping