.row.text-left#itemPriceRow.mb-4 
    .col-12.col-lg-4
        small.text-success On Sale Now!
        p.font-weight-bold.lead.mb-0 Price:
            span.font-weight-normal.item__price.mx-1.text-success 90,650
            span.small
                small Points
    .col-12.col-lg-8.text-md-left.text-lg-right
        small
            span.fas.fa-running.mr-1
            span In-Store Pickup Available