.row.text-left#qtyRow.mb-4
    .col-6
        label.form-check-label.font-weight-bold(for='Qty') Quantity
        select.custom-select(name="Qty")
            option(value="1" selected) 1
            option(value="2") 2
            option(value="3") 3