small
    .alert.alert-warning.text-center
        p.font-weight-bold.mb-0
            span.fas.fa-exclamation-triangle.mr-1.text-warning
            span CA Residents - Warning
        p.mb-0 Cancer and Reproductive Harm - www.P65Warnings.ca.gov.