.row#item__title 
    .col-12.col-lg-6
        .row 
            .col-12
                .shopping__item-title.line-clamp Apple - MacBook Pro - 13" Display with Touch Bar - Intel Core i5 - 16GB Memory - 1TB SSD (Latest Model) - Space Gray
            .col-12.d-block
                small
                    span.font-weight-bold Model Number:
                    span.ml-1#item__model-number [model-number]
