li.list-group-item.border-0.px-0 
    .card.shadow 
        .card-body
            .row.mb-4.mb-sm-0.mb-xl-4
                .col-12.mb-4.mb-xl-0.col-xl-3
                    .row
                        .col-2.bg-light.text-center.d-flex.flex-column.justify-content-center
                            .fas.fa-book
                        .col-10
                            small.d-block.font-weight-bold.text-uppercase.text-muted Promotion Name
                            a.promo-title.mb-0(href="../performance-tracking/claim-forms/claims-forms_1.html") Promo 1 - Standard Promotion 

                .col-12.mb-4.mb-sm-0.col-xl-9
                    .row.justify-content-xl-between 
                        .col-6.col-sm-3.col-xl-2.text-xl-center.mb-2.mb-xl-0
                            small.d-block.font-weight-bold.text-uppercase.text-muted Approved
                            p.mb-0#claims-approved 12
                        .col-6.col-sm-3.col-xl-2.text-xl-center.mb-2.mb-xl-0
                            small.d-block.font-weight-bold.text-uppercase.text-muted Pending
                            p.mb-0#claims-pending 15
                        .col-6.col-sm-3.col-xl-3.text-xl-center.mb-2.mb-xl-0
                            small.d-block.font-weight-bold.text-uppercase.text-muted Need Verification
                            p.mb-0#claims-need-verification 1
                        .col-6.col-sm-3.col-xl-2.text-xl-center.mb-2.mb-xl-0
                            small.d-block.font-weight-bold.text-uppercase.text-muted Awarded
                            p.mb-0#claims-awarded 9
                        .col-12.col-xl-2.text-right.text-lg-right.d-flex.flex-column.justify-content-center
                            a(href="../performance-tracking/claim-forms/claims-forms_1.html") Details
                
            .row.claim-history.bg-light.py-4
                .col-12.mb-2
                    h5 My Claim History
                .col-12.border-bottom.mb-4.pb-2
                    .row 
                        .col-md-6.col-xl-8
                            .row.justify-content-between 
                                .col-xl-6.mb-4
                                    small.text-muted.text-uppercase.font-weight-bold Description
                                    p.mb-0.claim-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quos dolores aspernatur doloribus autem at necessitatibus unde dolore, animi ipsum.
                                .col-md-6.col-xl-3.mb-4
                                    small.text-muted.text-uppercase.font-weight-bold Goal
                                    p.mb-0.claim-goal 10,000
                                .col-md-6.col-xl-3.mb-4
                                    small.text-muted.text-uppercase.font-weight-bold Total Sales
                                    p.mb-0.claim-total-sales 10,000,000.00



                        .col-md-6.col-xl-4
                            small.text-muted.text-uppercase.font-weight-bold Progress
                            .progress
                                .progress-bar(role='progressbar' style="width: 75%" aria-valuenow='75' aria-valuemnin='0' aria-valuemax='100')
                .col-12
                    
                    ul.list-group.list-group-flush.border-0
                        li.list-group-item
                            .row.justify-content-sm-between
                                .col-6.col-sm-4.col-xl-2.mb-4.mb-xl-0 
                                    small.text-muted.text-uppercase.font-weight-bold Invoice Number
                                    p.mb-0.claim-invoice-number 12340948-2
                                .col-6.col-sm-4.col-xl-2.mb-4.mb-xl-0  
                                    small.d-block.text-muted.text-uppercase.font-weight-bold Product Code
                                    a.mb-0.claim-product-code(href='') 12340948-2
                                .col-6.col-sm-4.col-xl-2.mb-4.mb-xl-0  
                                    small.text-muted.text-uppercase.font-weight-bold Claim Date
                                    p.mb-0.claim-date 12340948-2
                                .col-6.col-sm-4.col-xl-2.mb-4.mb-xl-0 
                                    small.text-muted.text-uppercase.font-weight-bold Quantity
                                    p.mb-0.claim-quantity 12340948-2
                                .col-6.col-sm-4.col-xl-2.ml-sm-auto.mb-4.mb-xl-0.text-xl-right  
                                    small.text-muted.text-uppercase.font-weight-bold Amount
                                    p.mb-0.claim-amount 12340948-2
                                .col-6.col-sm-4.col-xl-2.ml-sm-auto.mb-4.mb-xl-0.text-xl-right 
                                    small.text-muted.text-uppercase.font-weight-bold Payout
                                    p.mb-0.claim-payout 12340948-2