header.header__1.header__public
    .row.mx-auto
        .col-6.col-sm-3.col-xl-2.mx-auto.py-2
            img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/CloudLogo.png", alt="Demo 15 header logo")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/dist/home.html') Demo 15
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavbar', aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #mainNavbar.collapse.navbar-collapse
            ul.navbar-nav.ml-auto#header__nav__public
                