main {
  padding: 3em 0;
}

ul {
  list-style: none;
}

@mixin jumbotron-img-bg($bgAttach: fixed) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: $bgAttach;
  background-attachment: inherit;
  border-radius: 0;
}

.jumbotron-img-bg {
  @include jumbotron-img-bg;
}

#shopping-navigation {
  position: relative !important;
}

// .shopping-img-wrapper {
//   object-fit: contain;
//   object-position: center;
//   width: 100%;

// }

.dropdown-menu.show {
  position: absolute !important;
  // width: 1170px !important;
  width: 1400px;

  max-height: 350px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Media Queries
@media (min-width: 1024px) {
  main {
    padding: 5em 0;
  }
}

@media (min-width: 1400px) {
  .dropdown-menu.show {
    position: absolute !important;
    // width: 1170px !important;
    width: 1400px;

    max-height: 465px !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
