.row.bg-primary#shopping-sections
    .col-12.col-xl-10.mx-auto
        .row.small
            .col-4.p-0
                a.small.btn.btn-block.btn-primary(href="#") Shopping
                    span.fas.fa-gifts.mx-3.d-none.d-sm-inline
            .col-4.p-0.border-right.border-left
                a.small.btn.btn-block.btn-primary(href="#") Events
                    span.fas.fa-football-ball.mx-3.d-none.d-sm-inline
            .col-4.p-0
                a.small.btn.btn-block.btn-primary(href="#") Travel
                    span.fas.fa-globe-africa.mx-3.d-none.d-sm-inline